<h2>Pivot examples</h2>
<h3><a id="confirm" class="anchor" href="#confirm" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Confirm Action Example</h3>
<p>
  An example on how to confirm an action before it's applied to the table:
</p>
<div class="with-source">
  <a class="source" href="https://github.com/akveo/ng2-smart-table/blob/master/projects/demo/src/app/pages/examples/various/advanced-example-confirm.component.ts" target="_blank">Demo Source</a>
  <div style="height:500px; width:1100px; overflow: auto;">
    <pivot></pivot>
  </div>
</div>
